body,html{
    margin: 0;
    padding: 0;
    
}
html,body,#app,.login .video{
    width: 100%; 
    height: 100%;
} 
ul{
    list-style: none;
}
input{
    outline: 0;
    border: 0;
    border: 1px #333 solid;
}
a{
    text-decoration: none;
    color: red;
}
html,body,#app,.home,.el-container{
    height: 100%;
}